In [7]:
import pandas as pd
df = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [8]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
df['Sex'].value_counts() #1.сколько было м и ж

male      577
female    314
Name: Sex, dtype: int64

In [38]:
su = df.query('Survived == 1')#2.процент выживших
non_su = df.query('Survived == 0')
print (str(round (len(su)/len(df['Pclass'])*100,2)) +  u' %')

38.38 %

In [29]:
f_cl = df.query('Pclass == 1')#3. доля пассажиров 1 класса среди всех
print  (str(round((len(f_cl)/len(df['Pclass'])*100),2)) + u' %')

24.24 %

In [39]:
round(df['Age'].mean(), 2)#4.средний возраст пассажиров и медиана возраста

29.7

In [40]:
round(df['Age'].median(),2)

28.0

In [41]:
df['SibSp'].corr(df['Parch'], method = 'pearson')#5.корреляция между количеством сестер и кол-вом родителей или детей

0.41483769862015607