In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [5]:
df = pd.read_csv('titanic.csv',  index_col='PassengerId')

In [6]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Делаем копию датафрейма с 5 столбцами (класс, плата за билет, возраст, пол, выжил/не выжил)

In [19]:
new_df = df[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']].copy()

Заменяем обозначения пола на числа

In [22]:
new_df = new_df.replace(to_replace='female', value=1)
new_df = new_df.replace(to_replace='male', value=0)
new_df.count()

Pclass      891
Fare        891
Age         714
Sex         891
Survived    891
dtype: int64

Убираем все строки, где есть пропуски

In [23]:
new_df = new_df.dropna(axis=0)

In [24]:
new_df.count()

Pclass      714
Fare        714
Age         714
Sex         714
Survived    714
dtype: int64

Решающее дерево:

In [27]:
x_labels = ['Pclass', 'Fare', 'Age', 'Sex']
x,y = new_df[x_labels], new_df['Survived']
clf = DecisionTreeClassifier(random_state=241)
clf.fit(x,y)

importances = clf.feature_importances_
print(importances)

[ 0.14751816  0.29538468  0.25658495  0.30051221]