In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.decomposition import PCA

In [3]:
data = pd.read_csv('close_prices.csv')
data.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [4]:
pca = PCA(n_components=10)# делаем 10 компонент

In [5]:
del data['date']#ненужный столбец

In [6]:
data.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [24]:
pca.fit(data) #обучаем на наших данных

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [10]:
print(pca.explained_variance_ratio_) #какой процент дисперсии дает каждая компонента

[0.73897118 0.11007169 0.04995088 0.0287492  0.02215448 0.01931577
 0.00674853 0.00614091 0.00320594 0.00305611]

In [73]:
pca.explained_variance_ratio_.cumsum()#кумулятивная сумма (каждый следующий элемент становится суммой предыдущих), видим, 
# что порог 90% преодолен, когда сложены 4 компоненты -- это наш минимум.

array([0.73897118, 0.84904287, 0.89899376, 0.92774295, 0.94989743,
       0.9692132 , 0.97596173, 0.98210264, 0.98530858, 0.98836469])

In [28]:
new = pca.fit_transform(data)#преобразуем наши данные

In [56]:
arr1 = arr[0:3739:10]#массив на основе новых данных со значениями только первой компоненты

In [31]:
index = pd.read_csv('djia_index.csv')
del index['date']#опять удаляем ненужный столбец

In [74]:
d = {'col1': arr1}
df = pd.DataFrame(data=d)#делаем массив пандас из простого

In [67]:
import scipy.stats

In [75]:
scipy.stats.pearsonr(df, index)#считаем корреляцию Пирсона

(array([0.90965222]), array([5.19288791e-144]))

In [76]:
first = pd.Series(pca.components_[0])
ff = first.sort_values(ascending=False).head(1).index[0]
company = data.columns[ff]
print(company)#название компании, вносящей максимальный вклад в первую компоненту

V